@font-face {
font-family: LeagueSpartan-Bold;
font-weight: bold;
src: url("../fonts/LeagueSpartan-Bold.otf") format("opentype");
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 1rem;
}

/*IMAGES*/
img.border {
    border: 1px solid #FF6666;
}

/*HEADERS*/
h1, h2, h3, h4 {
    font-family: LeagueSpartan-Bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}
h1, h2 {
    margin-top: 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: 0rem;
}
h4 {
    font-family: sans-serif;
    font-size: 1rem;
}
/*END HEADERS*/

/*LINK STYLING*/
a {
    color: black;
    text-decoration: none;
}
.orange-link {
    color: #FF6666;
}
a:hover {
    color: #FF6666;
}
a.current {
    color: #FF6666;
}
/*END LINK STYLING*/

/*Utilities*/
.right-align {
    text-align: right;
}
.center-align {
    text-align: center;
}
/*END UTILITIES*/

/*GENERAL*/
.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: justify;
    font-family: Times;
}
p {
    line-height: 1.5rem;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
}
/*END GENERAL*/

/*SPLASH + LOGO*/
#splash {
    padding: 0px;
    margin: 0px auto;
    padding-top: 2rem;
    text-align: center;
    background: url(../imgs/bgblack.svg);
}
#splash.bg-orange {
    padding-top: 0;
    background: url(../imgs/bg.svg);
    background-size: contain;
    height: 100%;
}
#splashtitle {
    color: white;
    display: inline-block;
    text-align: right;
    margin: 0 auto;
    padding: 0px;
}
#splashtitle h1 {
    padding-bottom: 0rem;
    margin-bottom: -1rem;
}
#splashtitle .slogan {
    color: white;
    margin-top: 0;
    font-family: LeagueSpartan-Bold;
    font-size: 0.8rem;
}
.bg-orange #splashtitle {
    position: relative;
    top: -webkit-calc(50% - 3rem);
    top: -moz-calc(50% - 3rem);
    top: calc(50% - 3rem);
}
/*END SPLASH + LOGO*/

/*NAVBAR*/
.navbar {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
.navbar.decked {
    border-top: 1px solid #FF6666;
}
.navbar ul {
    display: block;
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0px;
}
.navbar ul li {
    /*font-family: monospace;*/
    font-family: LeagueSpartan-Bold;
    font-size: 1rem;
}
/*END NAVBAR*/

/*STAFF PAGE*/
.profilepic {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
/*END STAFF PAGE*/

/*CURRENT ISSUE PAGE*/
.underline {
    border-bottom: 1px solid #FF6666;
}
.addspace {
    margin-bottom: 1.5rem;
}
.addslimspace {
    margin-bottom: .5rem;
}
#toc {
    text-align: left;
}
#toc .underline {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
#toc .poemtitle {
    line-height: 1.2rem;
    font-size: 1.4rem;
    text-transform: lowercase;
    font-variant: small-caps;
}
.highlight {
    font-family: LeagueSpartan-Bold;
    margin-bottom: -.3rem;
}
.greyed {
    opacity: 0.8;
}
.poem {
    text-align: center;
    margin: 0 auto;
}
.poem .header {
    /*border: 1px solid blue;*/
    color: white;
    text-align: left;
    background: url(../imgs/bgpoem.svg);
    height: 6rem;
    overflow: hidden;
}
.poem .header .name {
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
}
.poem .header .biolink {
    color: black;
    margin-left: 1rem;
    font-size: .9rem;
    font-family: LeagueSpartan-Bold;
}
.poem .header .biolink:hover {
    color: white;
}
.poem .bio {
    display: none;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.poem .poem-body {
    text-align: left;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: inline-block;
}
/*END CURRENT ISSUE PAGE*/

/*FOOTER*/
#footer {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
#footer p {
    margin-bottom: 1rem;
    padding: 0;
}
#fb_icon {
    width: 40px;
}

/* FOR ALL DEVICES LARGER THAN 550px wide*/
@media (min-width: 550px) {
    #splash.bg-orange {
        width: 100%;
        height: 100%;
        height: -webkit-calc(100% - 4rem);
        height: -moz-calc(100% - 4rem);
        height: calc(100% - 4rem);
    }
    .navbar ul li {
        display: inline;
        padding: 0 2rem;
        margin: 0;
        border-right: 1px solid black;
    }
    .navbar ul li:last-of-type {
        border-right: 0px;
    }
    
    .profilepic {
        width: 15%;
        height: auto;
        float: left;
        margin-right: 1rem;
        margin-bottom: 0rem;
    }
    .addslimspace {
        margin-bottom: 0.2rem;
    }
    .poem .header .name {
        padding-top: 1.5rem;
        padding-left: 0;
        margin-left: 1.5rem;
        font-size: 1.2rem;
        letter-spacing: 0.1em;
    }
    .poem .header .biolink {
        margin-left: 1.5rem;
        font-size: 1rem;
    }
    #toc {
        text-align: center;
    }
    #toc .left {
        text-align: right;
    }
    #toc .right {
        text-align: left;
    }
}